commands:
    stop:
        command: sudo service httpd stop
    kill:
        command: sudo killall httpd || echo "Process was not running."
    start:
        command: sudo service httpd start

container_commands:
    link:
        command: "/home/ec2-user/links.sh"
    setup_docuserv:
        command: "/home/ec2-user/mount.sh"



