files:
    "/home/ec2-user/mount.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
            #! /bin/sh
            if [ ! -d /etc/letsencrpyt ]; then
              mkdir /etc/letsencrpyt
              mkdir /etc/letsencrpyt/live
              mkdir /etc/letsencrpyt/live/zdocs.xyz
            fi
            if [ ! -d "/docuserv" ]; then
              mkdir /docuserv
              mount /dev/xvdf /docuserv
              chown -R wsgi:root /docuserv
            fi
            rm /home/ec2-user/activate /home/ec2-user/utils
            ln -s /opt/python/run/venv/bin/activate /home/ec2-user/activate
            ln -s /opt/python/current/app/utils.py /home/ec2-user/utils
            if [ ! -f "/usr/bin/libreoffice5.4" ]; then
              wget http://download.documentfoundation.org/libreoffice/stable/5.4.5/rpm/x86_64/LibreOffice_5.4.5_Linux_x86-64_rpm.tar.gz
              tar -xvf LibreOffice_5.4.5_Linux_x86-64_rpm.tar.gz
              rpm -ivh LibreOffice_5.4.5.1_Linux_x86-64_rpm/RPMS/*.rpm
              rm -r LibreOffice_5.4.5.1_Linux_x86-64_rpm LibreOffice_5.4.5_Linux_x86-64_rpm.tar.gz
            fi
    "/etc/httpd/conf.d/ssl_rewrite.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
    "/tmp/update-wsgi.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
          # update mod_wsgi
          cd /tmp
          wget -q "https://codeload.github.com/GrahamDumpleton/mod_wsgi/tar.gz/4.5.9" && \
          tar -xzf '4.5.9' && \
          cd ./mod_wsgi-4.5.9 && \
          sudo ./configure --with-python=/usr/bin/python3.6 && \
          sudo make && \
          sudo make install
