files:
    "/home/ec2-user/mount.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
            #! /bin/sh
            if [ ! -d "/docuserv" ]; then
              mkdir /docuserv
              mount /dev/xvdf /docuserv
              chown -R wsgi:root /docuserv
            fi
            rm /home/ec2-user/activate /home/ec2-user/utils /opt/python/current/app/static/docuserv
            ln -s /opt/python/run/venv/bin/activate /home/ec2-user/activate
            ln -s /opt/python/current/app/utils.py /home/ec2-user/utils
            ln -s /docuserv /opt/python/current/app/static/docuserv
            chown wsgi:root /opt/python/current/app/static/docuserv
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
