files:
    "/home/ec2-user/mount.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
            #! /bin/sh
            mkdir /docuserv
            mkdir /var/docuserv
            mount -t nfs4 -o user,nfsvers=4.1 $(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).fs-6923ef20.efs.us-east-1.amazonaws.com:/ /docuserv
            chown wsgi:root /docuserv
            chown wsgi:root /var/docuserv
