packages:
    yum:
        git : []
        ImageMagick : []
        ImageMagick-devel : []
        enscript : []
        libffi-devel : []
        mod24_ssl : []
        jq : []
        mesa-libGLU : []
        libXinerama : []
        dbus-glib : []
        httpd24-devel-2.4.27-3.75.amzn1.x86_64 : []