option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:251165833390:certificate/1261d76a-033a-47fc-99f4-ffeb2d071dd7
    ListenerProtocol: HTTPS
    InstancePort: 80

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
